div{
    height: 50vh;
}
footer{
    color: #FBFBF8;
    font-size: 5em;
    font-family: sans-serif;
    align-content: center;
    text-align: center;
    margin: 1em;
    padding: 2rem;
}
div{
    padding: 10px;
}
body{
    margin: 20px;
}