.container{
    display: flex;
    justify-content: center;
    align-content: center;
}
div{
    padding: 10px;
    height: auto;
    width: auto;
}
footer{
    color: #FBFBF8;
    font-size: 5em;
    font-family: sans-serif;
    align-content: center;
    text-align: center;
    margin: 1em;
    padding: 2rem;
}
body{
    margin: 20px;
}
